version: "3"

services:
  traefik: # Basic traefik v2 configuration
    image: traefik:v2.9
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80" # HTTP port
      - "8080:8080" # Web UI port (enabled by --api.insecure=true)
    volumes:
      # Mount docker socket as read-only
      - /var/run/docker.sock:/var/run/docker.sock:ro
  whoami: # Simple whoami container to test functionality (available via Traefik at http://whoami.localhost.com)
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Host(`whoami.localhost.com`)"
      - "traefik.http.routers.whoami.middlewares=nforwardauth"
  nforwardauth: # nforwardauth example configuration
    # image: nosduco/nforwardauth:v1
    build: ../../
    environment:
      - TOKEN_SECRET=example_secret_123 # (required)
      - COOKIE_SECURE=false # Do not set cookies as secure (not recommended, and optional) (WARNING: ONLY USE IN DEV OR LAN-ONLY HOSTS)
      # - COOKIE_DOMAIN=localhost.com # Set domain for the cookies (recommended, but optional)
      # - COOKIE_NAME=nforward-auth # Set name for the cookie (optional)
      # - RATE_LIMITER_ENABLED=false # Disable built-in rate limiter
      # - RATE_LIMITER_MAX_RETRIES=5 # Set rate limiter to max retries of 5 over 10 seconds
      # - RATE_LIMITER_BAN_TIME=10
      - AUTH_HOST=nforwardauth.localhost.com # (required)
      - PORT=3000
    labels:
      - "traefik.http.routers.nforwardauth.rule=Host(`nforwardauth.localhost.com`)"
      - "traefik.http.middlewares.nforwardauth.forwardauth.address=http://nforwardauth:3000"
      - "traefik.http.services.nforwardauth.loadbalancer.server.port=3000"
    volumes:
      - "../passwd:/passwd:ro" # Mount local passwd file at /passwd as read-only
